@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #cccccc;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page {
  width: 500px;
  height: 650px;
  padding: 30px;
  background: #fff;
  border-left: 20px solid #ff2929;
  transform: rotate(-25deg) skewX(10deg) scale(0.8);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* .page-bottom {
  width: 570px;
  height: 30px;
  padding: 0px;
  background: #fff;
  transform: translate(-80px, 120px);
  z-index: -1;
} */

.page p {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: 16px;
  z-index: 2;
}
.page h1 {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: justify;
  font-size: 2em;
  z-index: 3;
  z-index: 8;
}

.page::before {
  content: '';
  width: 30px;
  height: 100%;
  background: #8a0e0e;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-45deg) translate(-50px, -35px);
  z-index: 7;
}
.page::after {
  content: '';
  width: 100%;
  height: 30px;
  background: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: skewX(-45deg) translate(-5px, 30px);
  z-index: 6;
}
::selection {
  background: rgba(255, 41, 41, 0.8);
  color: #fff;
}
